@charset "utf-8";
/* CSS Document */
.main{ background:none;}
.credit_body{ padding-top:128px; background:#efeff6;}
input{ margin:0;padding:0;}
.c_00a2ff{ color:#00a2ff;}

.lent_title{color:#768292; font-size:26px; text-align:center; padding:38px 0 14px 0; line-height:26px;}
.lent_box{width:90.62%; margin:0 auto; background:#fff; height:90px; border-radius:8px; box-shadow:1px 3px 3px #d7d7dd;}
.lent_box table{ width:100%;}
.lent_input{ width:90%; margin-left:5.6%; color:#505566; font-size:26px; line-height:90px; height:90px; border:none;font-family:Helvetica,"华文细黑","微软雅黑";}
.change_blank{font-size:26px;line-height:90px; height:90px; border:none;color:#505566;margin-left:5.6%; padding-right:28px; background:url(../images/select_blank.png) right center no-repeat; display:inline-table; font-family:Helvetica,"华文细黑","微软雅黑";}
.add_bottom{bottom:0; left:0; width:100%;background:#efeff6; margin-top:220px; padding-bottom:40px;}
.addbank_btn{ color:#fff;width:90.62%; margin:0 auto; background:#00a2ff; border-radius:8px; text-align:center; height:80px; line-height:80px;}

